.homepage{



    margin-top: 0;
    margin-left: 0.2%;
    font-size: 0.8em;
    
    color: white;
    
  }

  .header{
    margin-top: 0px;
    background-color: #2c2f34;
  }

  .navBar{
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    
  }


  .logoSmall{
    width: 193px;
    float:left;
    margin-left: 15px;
    
  }

  .searchLine{
    display: inline-block;
    width: 520px;
    margin-top: 15px;
    margin-left: 20px;    
  }
  .search{
    display: inline-block;
    width:450px;
    line-height: 2em;
    margin-left: 2;
    float:left;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
   
    
  }

  .searchButton{
    display: block;
    margin-left: 0;
    
    /* display: block; */
    
    

  }

  .searchForm{
    display: inline-block;
    text-align: left;
    line-height: 2em;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    

  }
  
  .buttomsNav{
    /* width: 150px; */
    /* text-align: right; */
    margin-right: 10px;
    margin-top: 20px;
    float:right;
  }

  .registrationButton{
    display: inline-block;
    
    
  }

  .loginButton{
    display: inline-block;
    padding-right: 10px;
  }

  .categoryBar{
    margin: 20px;
    text-align: center;
  }

  .category{
    display: inline-block;
    width: 80px;
    height: 30px;
    border: 1.5px solid #f7971d;
    border-radius: 15px;
    text-align: center;
    padding-top: 10px;
    margin: 10px;
    background-color: #212121;

  }

  .category:hover{
    background-color: #f7971d;
  }

  .image{
    margin-bottom: 0;
    margin-bottom: -3px;
  }
  .image>img{
    max-width:280px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    margin-bottom: 0;
    
  
  }
  .photoDescription{
    background-color: #2c2f34;
    max-height: 64px;
    justify-content: space-between;
    height: 5em;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: 0;
  }
.loginButton>a{
  background-color: #f7971d;
}
.registrationButton>a{
  background-color: #f7971d;
}

.likes{
  display: inline-block;
}
.likesImage{
 display: inline-block;
}


.comments{
  display: flex;
  margin: 7px;
}
.commentsImage{
  display: flex;
}
.content{
  display: grid;
  justify-content: center;
 


}
.photos{
  
  
}
.photoSection{
  
  align-self: center;

  
 
  background-color: #2c2f34;
  border: 1.5px solid #f7971d;
  border-radius: 15px;
  
  font-size: 1.2em;
  padding-top: 10px;
  max-width: 500px;
  padding: 10px;
}

.description{
  padding: 20px;
  border: 1.5px solid #f7971d;
  background-color: #212121;
  margin-bottom: 15px;
}

.likes{
  display: inline-block;
  padding: 10px;
  background-color: #212121;
  margin-right: 15px;
  border: 1.5px solid #f7971d;
}

.likes:hover{
  cursor: pointer;
}

.dislikes{
  display: inline-block;
  padding: 10px;
  background-color: #212121;
  border: 1.5px solid #f7971d;
}

.dislikes:hover{
  cursor: pointer;
}

.comment1{
  display: block;
  border: 1.5px solid #f7971d;
  border-radius: 12px;
  margin-top: 15px;
  background-color: #585050;
  width: 380px;
  padding:5px;
  padding-bottom: 6px;
  margin-bottom: 5px;
}

.username{
  display: block;
 
  margin-right: 10px;
  font-size: 0.7em;
  margin: 0;
  border-radius: 12px;
}
.title{
  
  max-height: 20px;
  width: 80%;
  text-align: center;
  
  
}
.com{
  display:block;
}

.likeImg{
  display: inline-block;
  margin-right: 3px;
  
}

.dislikeImg{
  display: inline-block;
  margin-right: 3px;

}

.commentsSection{
  margin-top: 13px;
  border: 1.5px solid #f7971d;
  padding: 15px;
  border-radius: 12px;
  background-color: #212121;
  display: grid;
}

.commentTitle{
  padding: 3px;
  color: #f7971d;
  font-size: 17px;
}



.addComment{
  margin-top: 7px;
  width: 100%;
  background-color: #212121;
  border-radius: 12px;
}

.text{
  background-color: #f7971d;
}

.addcommentTitle{
  padding: 3px;
  color: #f7971d;
  font-size: 17px;
  margin-bottom: 5px;
}

.commentSubmit{
  display: inline-block;
  align-self: right;
  padding: 5px;
  justify-self: right;
  width: 20%;
  margin-top: 5px;
}

.commentSubmit:hover::after{
  background-color: red;
  width: 100%;
}